.task{
    max-width: 600px;
    border-radius: 8px;
    color: var(--gray-300);
    background: var(--gray-800);
    padding: 1.5rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.task h3{
    align-self: self-start;
    flex-wrap: wrap;
}

.task div{
    width: 100%;
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.task div div:first-child{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-right: 5px;
    flex: 1 1 auto;
}

.buttonsActions{
    max-width: 80px;
    display: flex;
}

.yellowBg{
    background-color: yellow;
}

.whiteBg{
    background-color: white;
}

.content {
    margin-bottom: 1rem;
}

.buttonsActions > button {
    margin-right: 5px;
    border: 0;
    background: var(--white);
    mix-blend-mode: multiply;
}

.delete:hover, .cancelButton:hover {
    color: var(--red-500);
    cursor: pointer;
}

.disabled ,.disabled:hover{
    cursor: initial;
    color: gray;
}

.abled:hover, .saveButton:hover {
    color: var(--green-300);
    cursor: pointer;
}

.editButton:hover{
    color: rgb(0, 200, 255);
    cursor: pointer;
}

.taskContainer {
    flex: unset;  
}

.content input{
    width: 100%;
    max-width: 31%;
    border: 0;
    border-radius: 8px;
    padding: 5px;
    background-color: rgb(234, 224, 224);
}

@media (max-width: 768px){
    .task{
        display: flex;
    }
}
